<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<p>Click the table headers to change the sorting order:</p>
<div ng-app="myApp" ng-controller="ctrl">
    <table border="1" width=100%>
        <tr>
            <th ng-click="nameChange('name')">Name</th>
            <th ng-click="nameChange('country')" style="color: blue;">Country</th>
        </tr>

        <tr  ng-repeat="x in names | orderBy:myOrderBy ">
            <td>{{x.name}}</td>
            <td>{{x.country}}</td>
        </tr>
    </table>
    <p>Added another line.</p>
</div>
<script>
    angular.module('myApp' ,[]).controller('ctrl' , function($scope){
        $scope.names=[ 
            {name:'Aung',country:'Yangon'},
            {name:'thazin' , country:'Bago'},
            {name:'hanni', country:'taungoo'}
            ];
            $scope.nameChange=function(x){
                $scope.myOrderBy=x;
            }

    });
</script>

</body>
</html>
